<!DOCTYPE html>
<html lang="en" ng-app="quietPlaces">
  <head>
  <meta charset="utf-8" />
  <!-- %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"} -->
  <title>Quiet Places | Find a quiet place close to you</title>
  <meta content="Find places of peace close to your city" name="description" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="favicon.ico" rel="shortcut icon" />
<link href="images/apple-touch-icon-114x114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114" />
<link href="images/apple-touch-icon-72x72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72" />
<link href="images/apple-touch-icon-57x57-precomposed.png" rel="apple-touch-icon-precomposed" />
  <link href="stylesheets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="stylesheets/responsive.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="stylesheets/font-awesome.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="stylesheets/theme.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="stylesheets/fonts.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="stylesheets/quietplaces.css" media="screen" rel="stylesheet" type="text/css" />
  <style type="text/css">
    body {
      /*margin-top: 100px;*/
    }
    .angular-google-map {
      display: block;
    }
  </style>
</head>
  <body class="theme-pattern-lightmesh" ng-controller="PlacesCtrl">
    <!-- Page Header -->
    <header id="masthead">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <h1 class="brand center">
              <a href="index.html">
                Quiet Places
                <i class="icon-map-marker"></i>
              </a>
            </h1>
            <div class="find center">
              <form class="form-search">
                <input type="text" ng-model="search" ng-change="searchPlace()" class="input-large search-query" placeholder="Find peace close to ...">
                <span style="color:#222">or</span>
                <button class="btn btn-medium" style="margin-top:0px" ng-click="findMe()">find it near me</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content -->
    <div id="content" role="main" style="position: absolute; left: 0px; bottom: 0px; right: 0px; top: 0px; z-index: -1">
      <!--
      <section class="section alt" id="promo">
        <div class="map-top-shadow"></div>
      -->
        <google-map
          center="center" 
          draggable="true" 
          zoom="zoom" 
          markers="markers"
          search="search"  
          mark-click="false" 
          style="position: absolute; left: 0px; bottom: 0px; right: 0px; top: 0px;">
        </google-map>
        <!--
        <div class="map-bottom-shadow"></div>
      </section>
    -->
    </div>

    <!-- Place Modal -->
    <div id="placeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{{place.address}}</h3>
      </div>
      <div class="modal-body">
        <img src="{{place.images.url}}" alt="{{place.description}}"/>
        <p>{{place.description}}</p>
      </div>
      <div class="modal-footer">
        <span>Quietness </span>
        <ul class="quietness">
          <li ng-repeat="n in [] | range:place.quietness">
            <i class="icon-star"></i>
          </li>
        </ul>
        <div><small>{{quietness[place.quietness-1]}}</small></div>
      </div>
    </div>    
    <!-- Page Footer -->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-resource.min.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/services.js"></script>
    <script src="javascripts/controllers.js"></script>
    <script src="javascripts/filters.js"></script>
    <script src="javascripts/directives.js"></script>

    <script src="javascripts/jquery.min.js" type="text/javascript"></script>
    <script src="javascripts/bootstrap.js" type="text/javascript"></script>
    <script src="javascripts/script.js" type="text/javascript"></script>
    <script src="javascripts/angular-google-maps.js" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
</body>
</html>
