#map {
  height: 800px;
}

@media (max-width: 700px) {
  #map {
    height: 240px;
  }
}

.center, .brand.center {
  text-align: center;
  float: none;
  clear: both;
  margin-left: 0;
}

.navbar-inner {
  background-color: white;
}

ul.quietness {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: inline;
}

ul.quietness li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: inline;
}